---
const { className = "" } = Astro.props;
---

<div class={`flex items-center gap-4 select-none ${className}`}>
    <!-- Badge Google Play -->
    <a
        href="https://play.google.com/store"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            src="/img/google-play-badge.png"
            alt="Disponible en Google Play"
            class="w-40 transition-transform duration-300 transform hover:scale-105 hover:translate-y-[-2px]"
        />
    </a>

    <!-- Badge App Store -->
    <a
        href="https://www.apple.com/app-store/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img
            src="/img/app-store-badge.png"
            alt="Disponible en App Store"
            class="w-40 transition-transform duration-300 transform hover:scale-105 hover:translate-y-[-2px]"
        />
    </a>
</div>
