---
import Section from "./Section.astro";

const faqs = [
    {
        question: "¿Cómo funciona la aplicación?",
        answer: "Nuestra aplicación utiliza inteligencia artificial para monitorear y predecir posibles complicaciones de la diabetes en base a tus datos ingresados.",
    },
    {
        question: "¿Es gratuita la aplicación?",
        answer: "Sí, puedes descargar y usar la aplicación de forma gratuita con funciones básicas. Hay opciones premium para características avanzadas.",
    },
    {
        question: "¿Cómo protegen mis datos?",
        answer: "Implementamos encriptación avanzada y seguimos estrictas normativas de seguridad para proteger tu información.",
    },
    {
        question: "¿Puedo compartir mi información con mi médico?",
        answer: "Sí, puedes compartir tus datos con tu médico de confianza para que pueda monitorear tu progreso y darte recomendaciones.",
    },
    {
        question: "¿Qué dispositivos son compatibles?",
        answer: "Nuestra aplicación es compatible con la mayoría de los dispositivos móviles y tablets, tanto en Android como iOS.",
    },
];
---

<Section id="faq" bgColor="bg-tertiary" innerClass="max-w-[800px]">
    <h1 class="text-primary font-semibold text-2xl text-center">
        Preguntas frecuentes
    </h1>

    <div class="flex flex-col divide-y divide-gray-400 select-none">
        {
            faqs.map((faq) => (
                <details class="faq-item py-5">
                    <summary class="flex justify-between items-center cursor-pointer text-lg font-medium text-primary">
                        {faq.question}
                        <i class="fas fa-chevron-down text-primary" />
                    </summary>
                    <p class="text-gray-800 mt-2">{faq.answer}</p>
                </details>
            ))
        }
    </div>

    <button
        class="text-primary bg-white font-medium rounded-lg px-6 py-2 w-fit mx-auto transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
    >
        Ver más preguntas
    </button>
</Section>
