<header class="w-full bg-primary py-10 select-none">
    <div class="max-w-[1440px] mx-auto px-20 flex justify-between items-center">
        <!-- Logo -->
        <a class="hidden sm:block" href="#">
            <img src="img/logo.png" alt="Logo" class="h-10">
        </a>

        <!-- Menú de navegación -->
        <nav aria-label="Menú principal">
            <ul class="flex items-center gap-9">
                <li>
                    <a
                        href="#"
                        class="text-white font-medium transition-colors duration-300 hover:text-secondary"
                    >
                        Inicio
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        class="text-white font-medium transition-colors duration-300 hover:text-secondary"
                    >
                        Cómo funciona
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        class="text-white font-medium transition-colors duration-300 hover:text-secondary"
                    >
                        App móvil
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        class="text-white font-medium transition-colors duration-300 hover:text-secondary"
                    >
                        App web
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        class="text-white font-medium transition-colors duration-300 hover:text-secondary"
                    >
                        FAQ
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        class="font-medium bg-secondary text-primary rounded-lg px-6 py-2 transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
                    >
                        Iniciar sesión
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
