---
import Badges from "./Badges.astro";
---

<section class="w-full bg-primary pt-10 pb-20">
    <div
        class="max-w-[1440px] mx-auto px-20 flex justify-between items-center gap-x-28"
    >
        <!-- Sección izquierda -->
        <div class="space-y-9">
            <h1 class="text-white font-semibold text-5xl leading-[60px]">
                Monitorea tu diabetes con
                <span class="text-secondary">inteligencia artificial</span>
            </h1>

            <p class="text-white text-lg font-medium">
                Aplicación móvil de auto monitoreo para personas con diabetes y
                complicaciones derivadas. <br> Aplicación web de monitoreo remoto
                para profesionales de la salud.
            </p>

            <Badges />
        </div>

        <!-- Sección derecha -->
        <div>
            <img src="img/hero.png" alt="Hero" />
        </div>
    </div>
</section>
