---
import Badges from "./Badges.astro";
---

<section class="w-full bg-primary pt-10 pb-20">
    <div
        class="max-w-[1440px] mx-auto px-6 sm:px-10 md:px-20 lg:px-20 flex flex-col md:flex-row justify-between items-center gap-12 md:gap-28"
    >
        <!-- Sección izquierda -->
        <div class="space-y-6 md:space-y-9 text-center md:text-left">
            <h1
                class="text-white font-semibold text-3xl sm:text-4xl md:text-5xl leading-[48px] sm:leading-[52px] md:leading-[60px]"
            >
                Monitorea tu diabetes con
                <span class="text-secondary">inteligencia artificial</span>
            </h1>

            <p class="text-white text-base sm:text-lg font-medium">
                Aplicación móvil de auto monitoreo para personas con diabetes y
                complicaciones derivadas. <br /> Aplicación web de monitoreo remoto
                para profesionales de la salud.
            </p>

            <Badges className="flex justify-center md:justify-start" />
        </div>

        <!-- Sección derecha -->
        <div class="relative w-full md:w-auto flex justify-center">
            <img
                src="img/hero.png"
                alt="Hero"
                class="relative w-full h-auto transition-transform duration-[2000ms] ease-in-out hover:scale-105 hover:rotate-1"
            />
        </div>
    </div>
</section>
