---
import Badges from "./Badges.astro";
import Section from "./Section.astro";
---

<Section bgColor="bg-info">
    <!-- <h1 class="text-primary font-semibold text-2xl text-center">
        Cómo funciona la aplicación móvil
    </h1> -->

    <!-- Bento -->
    <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4">
        <!-- Card 1 -->
        <div class="bg-white p-6 rounded-lg flex flex-col gap-4">
            <div class="flex items-center gap-4">
                <div
                    class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                >
                    1
                </div>
                <h2 class="text-primary font-medium text-lg">
                    Instala la aplicación en tu celular
                </h2>
            </div>
            <p class="text-gray-700">
                La puedes encontrar completamente gratis desde la Play Store en
                tu android o desde la App Store en tu iPhone.
            </p>
            <Badges className="w-72" />
        </div>

        <!-- Card 2 -->
        <div
            class="bg-white p-6 pb-0 rounded-lg flex flex-col sm:flex-row gap-4"
        >
            <img
                src="img/bento-mobile/phone-auth.png"
                alt="App en celular"
                class="w-full sm:w-1/2 object-contain object-bottom order-last sm:order-none mt-auto max-w-xs sm:max-w-full mx-auto"
            />

            <div class="flex flex-col sm:flex-row gap-4 w-full sm:w-1/2">
                <div class="space-y-4 w-full">
                    <div class="flex items-center gap-4">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            2
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Inicia sesión o regístrate
                        </h2>
                    </div>
                    <p class="text-gray-700">
                        Ingresa tus credenciales si ya tienes una cuenta.
                    </p>
                    <p class="text-gray-700">
                        Si eres un usuario nuevo, crea una cuenta.
                    </p>
                </div>
            </div>
        </div>

        <!-- Cards 3, 4 y 5 -->
        <div class="grid md:grid-cols-1 lg:grid-cols-3 gap-4 lg:col-span-2">
            <!-- Card 3 -->
            <div class="bg-white p-6 pb-0 rounded-lg flex flex-col gap-4">
                <div class="flex items-center gap-4">
                    <div
                        class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                    >
                        3
                    </div>
                    <h2 class="text-primary font-medium text-lg">
                        Monitorea tu diabetes
                    </h2>
                </div>
                <p class="text-gray-700">
                    Realiza un seguimiento de tu diabetes en tiempo real.
                </p>

                <img
                    src="img/bento-mobile/phone-feature-3.png"
                    alt="App en celular"
                    class="w-full h-auto object-cover object-bottom mt-auto max-w-xs sm:max-w-full mx-auto"
                />
            </div>

            <!-- Card 4 y 5 -->
            <div
                class="bg-white p-6 pb-0 rounded-lg flex flex-col sm:flex-row gap-4 lg:col-span-2"
            >
                <div class="space-y-4 flex-1 w-full sm:w-7/12">
                    <div class="flex items-center gap-4">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            4
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Predice complicaciones
                        </h2>
                    </div>
                    <p class="text-gray-700 text-balance">
                        Nuestro potente algoritmo de inteligencia artificial
                        analiza tus datos históricos para predecir posibles
                        complicaciones.
                    </p>

                    <div class="flex items-center gap-4">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            5
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Genera reportes
                        </h2>
                    </div>
                    <p class="text-gray-700 text-balance">
                        Puedes exportar reportes en diferentes formatos y
                        compartirlos con tu médico de confianza.
                    </p>

                    <div class="flex items-center gap-4">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            6
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Recibe notificaciones
                        </h2>
                    </div>
                    <p class="text-gray-700 text-balance">
                        Configura recordatorios y alertas para no olvidar tus
                        medicamentos o citas médicas.
                    </p>
                </div>
                <img
                    src="img/bento-mobile/phone-feature-4-5.png"
                    alt="App en celular"
                    class="w-full sm:w-5/12 h-auto object-contain object-bottom order-last sm:order-none mt-auto max-w-xs sm:max-w-full mx-auto"
                />
            </div>
        </div>
    </div>
</Section>
