---
import Section from "./Section.astro";
---

<Section bgColor="bg-info">
    <div class="grid md:grid-cols-1 space-y-4">
        <!-- Fila superior -->
        <div class="grid grid-cols-1 lg:grid-cols-3 space-y-4 lg:space-y-0 lg:gap-4">
            <!-- Card 1 (2/3 del ancho) -->
            <div
                class="bg-white p-6 pb-0 rounded-lg relative flex flex-col md:grid md:grid-cols-3 gap-4 overflow-hidden col-span-2"
            >
                <!-- Título (ocupa toda la fila arriba en grandes) -->
                <div class="md:col-span-3">
                    <div class="flex items-center gap-4">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            1
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Inicia sesión o regístrate
                        </h2>
                    </div>
                </div>

                <!-- Imagen (en grandes a la izquierda, en móviles debajo) -->
                <img
                    src="img/bento-web/laptop-auth.png"
                    alt="App en laptop"
                    class="w-full md:col-span-2 object-contain object-bottom max-h-52 md:max-h-none order-last md:order-none"
                />

                <!-- Descripción y botones (a la derecha en grandes) -->
                <div
                    class="space-y-5 w-full md:col-span-1 flex flex-col justify-center"
                >
                    <p class="text-gray-700">
                        Inicia sesión si ya tienes una cuenta o regístrate si
                        eres un nuevo usuario.
                    </p>

                    <div class="flex flex-col gap-4">
                        <button
                            class="font-medium bg-secondary text-primary rounded-lg px-6 py-2 transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
                        >
                            Iniciar sesión
                        </button>
                        <button
                            class="font-medium bg-secondary text-primary rounded-lg px-6 py-2 transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
                        >
                            Registrarse
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 2 (1/3 del ancho) -->
            <div
                class="bg-white p-6 pb-0 rounded-lg relative flex flex-col justify-center gap-4 overflow-hidden"
            >
                <h2 class="text-primary font-medium text-lg">
                    También puedes hacerlo desde tu celular
                </h2>

                <img
                    src="img/bento-web/phone-auth.png"
                    alt="App en celular"
                    class="w-full object-contain object-bottom max-h-52 md:max-h-none"
                />
            </div>
        </div>

        <!-- Fila inferior -->
        <div class="grid gap-4 lg:col-span-2">
            <!-- Card 3 -->
            <div
                class="bg-white relative p-6 rounded-lg col-span-2 flex flex-col md:flex-row gap-4 overflow-hidden"
            >
                <!-- Contenido a la izquierda -->
                <div class="space-y-5 flex-1 w-full md:w-7/12">
                    <div class="flex items-center gap-3">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            2
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Monitorea a tus pacientes
                        </h2>
                    </div>
                    <p class="text-gray-700 text-balance">
                        Lleva un seguimiento detallado del estado de tus
                        pacientes en todo momento y desde cualquier lugar.
                    </p>

                    <div class="flex items-center gap-3">
                        <div
                            class="size-7 flex items-center justify-center bg-primary text-sm text-white font-semibold rounded-full"
                        >
                            3
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Envía reportes y alertas
                        </h2>
                    </div>
                    <p class="text-gray-700 text-balance">
                        Notifica a tus pacientes automáticamente si se detecta
                        alguna anomalía en su estado de salud.
                    </p>
                </div>

                <!-- Imagen (abajo en móviles, derecha en grandes) -->
                <div
                    class="flex justify-center w-full md:w-5/12 order-1 md:order-none"
                >
                    <img
                        src="img/bento-web/laptop-features.png"
                        class="w-96 object-contain object-top rounded-lg max-h-52 md:max-h-none"
                    />
                </div>
            </div>
        </div>
    </div>
</Section>
