<section class="w-full bg-tertiary py-10">
    <div class="max-w-[1440px] mx-auto px-20 flex flex-col gap-10">
        <h1 class="text-primary font-semibold text-2xl text-center">
            Cómo funciona la aplicación web
        </h1>

        <!-- Bento -->
        <div class="grid gap-4">
            <!-- Fila superior -->
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                <!-- Card 1 (2/3 del ancho) -->
                <div
                    class="bg-white p-6 rounded-lg relative flex flex-col gap-4 overflow-hidden col-span-2"
                >
                    <div class="flex items-center gap-4">
                        <div
                            class="w-8 h-8 flex items-center justify-center bg-primary text-white font-semibold rounded-full"
                        >
                            1
                        </div>
                        <h2 class="text-primary font-medium text-lg">
                            Inicia sesión o regístrate
                        </h2>
                    </div>

                    <div class="flex gap-4">
                        <img
                            src="img/laptop.png"
                            alt="App en laptop"
                            class="w-8/12 h-48 object-contain object-bottom"
                        />

                        <div class="space-y-5 w-4/12">
                            <p class="text-gray-700">
                                Inicia sesión si ya tienes una cuenta o
                                regístrate si eres un nuevo usuario.
                            </p>

                            <div class="flex flex-col gap-4 self-start">
                                <button
                                    class="font-medium bg-secondary text-primary rounded-lg px-6 py-2 transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
                                >
                                    Iniciar sesión
                                </button>
                                <button
                                    class="font-medium bg-secondary text-primary rounded-lg px-6 py-2 transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
                                >
                                    Registrarse
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 (1/3 del ancho) -->
                <div
                    class="bg-white p-6 rounded-lg relative flex flex-col gap-4 overflow-hidden"
                >
                    <h2 class="text-primary font-medium text-lg">
                        También puedes hacerlo desde tu celular
                    </h2>

                    <div class="flex gap-4">
                        <img
                            src="img/phone.png"
                            alt="App en celular"
                            class="w-full object-contain object-top -mb-[30rem]"
                        />
                    </div>
                </div>
            </div>

            <!-- Fila inferior -->
            <div class="grid gap-4 lg:col-span-2">
                <!-- Card 3 -->
                <div
                    class="bg-white relative p-6 rounded-lg col-span-2 flex gap-4 overflow-hidden"
                >
                    <div class="space-y-5 flex-1 w-7/12">
                        <div class="flex items-center gap-3">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-primary text-white font-semibold rounded-full"
                            >
                                2
                            </div>
                            <h2 class="text-primary font-medium text-lg">
                                Monitorea a tus pacientes en tiempo real
                            </h2>
                        </div>
                        <p class="text-gray-700">
                            Lleva un seguimiento detallado del estado de tus
                            pacientes en todo momento y desde cualquier lugar.
                        </p>

                        <div class="flex items-center gap-3">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-primary text-white font-semibold rounded-full"
                            >
                                3
                            </div>
                            <h2 class="text-primary font-medium text-lg">
                                Envía reportes y alertas automáticamente a tus pacientes
                            </h2>
                        </div>
                        <p class="text-gray-700">
                            Notifica a tus pacientes automáticamente si se
                            detecta alguna anomalía en su estado de salud.
                        </p>
                    </div>
                    <!-- Card 3: Laptop centrada horizontal y verticalmente -->
                    <div class="flex justify-center items-center w-5/12">
                        <img
                            src="img/laptop.png"
                            class="w-96 object-contain object-top rounded-lg"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
