---
import Section from "./Section.astro";

const professionalFeatures = [
    {
        title: "Gestión de pacientes",
        description: "Accede al historial clínico y monitorea a tus pacientes.",
        icon: "fas fa-user-md",
    },
    {
        title: "Reportes automáticos",
        description:
            "Genera informes sobre el estado de salud de tus pacientes.",
        icon: "fas fa-notes-medical",
    },
    {
        title: "Monitoreo en tiempo real",
        description: "Visualiza los datos y recibe alertas en tiempo real.",
        icon: "fas fa-chart-line",
    },
    {
        title: "Análisis predictivo",
        description: "Usa IA para prever complicaciones de la diabetes.",
        icon: "fas fa-brain",
    },
];
---

<Section id="web-app-features" bgColor="bg-info">
    <h1 class="text-primary font-semibold text-2xl text-center">
        Seguimiento para profesionales de la salud
    </h1>

    <!-- Contenedor de columnas -->
    <div class="grid grid-cols-3 items-center gap-10">
        <!-- Imagen 2/3 -->
        <div class="col-span-2 flex justify-center">
            <img
                src="img/computer.png"
                alt="App en computadora"
                class="w-4/5 object-contain"
            />
        </div>

        <!-- Texto 1/3 -->
        <div class="col-span-1 flex flex-col h-full justify-between space-y-6">
            {
                professionalFeatures.map((feature) => (
                    <div class="flex items-center gap-5">
                        <div class="w-14 h-14 flex items-center justify-center bg-white text-primary rounded-full text-2xl shrink-0">
                            <i class={feature.icon} />
                        </div>
                        <div class="space-y-3">
                            <h2 class="font-medium text-primary">
                                {feature.title}
                            </h2>
                            <p>{feature.description}</p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>

    <button
        class="text-primary bg-white font-medium rounded-lg px-6 py-2 w-fit mx-auto transition-all duration-300 hover:bg-opacity-80 hover:scale-105"
    >
        Ver todas las características
    </button>
</Section>
